body {
    font-family: Tahoma;
    margin: 0;
    direction: rtl;
    background: #f4f4f4;
}

header {
    background: #222;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 20px;
    background: white;
}

footer {
    text-align: center;
    padding: 10px;
    background: #222;
    color: white;
}
